a
{
	text-decoration: none
}

body
{
	margin: 0px;
	background-color: #00bff3;
}

#button
{
	position: relative;
	width: 406px;
	background-color: #f26d7d;
	border-radius: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	font-family: frankfurter-plain;
	color: #ffffff;
	font-size: 36px;
	margin-left: auto;
	margin-right: auto;
}

#center
{
	position: absolute;
	width: 800px;
	height: 370px;
	left: 50%;
	top: 50%;
}

#container
{
	position: relative;
	width: 800px;
	height: 370px;
	left: -50%;
	top: -50%;
	text-align: center;
}

#container-404
{
	position: relative;
	width: 608px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}

@font-face
{
	font-family: 'frankfurter-medium-plain';
    src: url('../font/frankfurter-medium-plain.eot');
    src: url('../font/frankfurter-medium-plain.eot?#iefix') format('embedded-opentype'),
         url('../font/frankfurter-medium-plain.woff') format('woff'),
         url('../font/frankfurter-medium-plain.ttf') format('truetype'),
         url('../font/frankfurter-medium-plain.svg#frankfurter-medium-plain') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
	font-family: 'frankfurter-plain';
    src: url('../font/frankfurter-plain.eot');
    src: url('../font/frankfurter-plain.eot?#iefix') format('embedded-opentype'),
         url('../font/frankfurter-plain.woff') format('woff'),
         url('../font/frankfurter-plain.ttf') format('truetype'),
         url('../font/frankfurter-plain.svg#frankfurter-plain') format('svg');
    font-weight: normal;
    font-style: normal;
}

.four
{
	position: relative;
	width: 200px;
	height: 204px;
	top: -82px;
	font-family: frankfurter-plain;
	color: #ffffff;
	font-size: 300px;
	float: left;
}

img
{ 
	border-style: none;
}

#robby
{
	position: relative;
	width: 200px;
	height: 200px;
	background-image: url(../sources/pics/19970934.jpg);
	float: left;
	margin-left: 3px;
}

#text
{
	position: relative;
	font-family: frankfurter-medium-plain;
	color: #ffffff;
	font-size: 30px;
	margin-bottom: 30px;
}